/* * {
  margin: 0 auto;
} */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(142, 230, 222),
      rgb(181, 144, 199)
    );
  min-height: 100vh;
}

h1 {
  color: black;
}

#book-list {
  font-size: 16px;
  font-weight: bold;
  border: 4px solid rgb(68, 68, 68);
  border-radius: 5px;
  max-width: 880px;
  margin: 0 auto;
}

.book {
  /* background-color: rgb(214, 214, 214); */
  border: 1px solid;
}

.book-title,
.book-author {
  margin: 10px 0;
}

.remove-btn {
  background-color: rgb(199, 131, 21);
  border: 3px solid transparent;
}

.remove-btn:hover {
  background-color: rgb(199, 131, 21);
  border: 3px solid rgb(68, 68, 68);
}

.remove-btn:active {
  background-color: rgb(199, 131, 21);
  border: 3px solid transparent;
}

form {
  margin: 5% auto;
  max-width: 400px;
}

#devider {
  border-top: 5px solid rgb(68, 68, 68);
  border-radius: 80%;
  max-width: 150px;
  margin: 10px auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0;
  margin: 0;
}

input,
button {
  font-size: 16px;
  font-weight: bold;
  border: 3px solid rgb(68, 68, 68);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-width: min-content;
  max-width: 100%;
}

#add-button {
  display: block;
  align-self: flex-end;
  padding: 5px 40px;
  background-color: rgb(33, 221, 190);
  border: 3px solid transparent;
}

#add-button:hover {
  border: 3px solid rgb(68, 68, 68);
}

#add-button:active {
  border: 3px solid transparent;
}

#alert-message {
  font-weight: bold;
  align-self: center;
  display: none;
  padding: 10px;
  margin: 5px;
  border: 3px solid rgb(224, 129, 129);
  border-radius: 5px;
  max-width: 200px;
  transition: all 0.2s;
}
